## PRINT FUNCTION

In [35]:
# in this program we just to learn how to use print function and what are the purpose of print function 
# print function is use to show the output in the screen and written in single or double qoute in paranthesis like("") or ('')

print("Hello World !")


print('Hello World !')


# if we use print statement without single or double qoutes it gives error

# print(ikram)-------------> it gives error

# print is also use to print any kind of data type like

print(4)

print(5 + 6)

print([1,2,3,4,5])

print((1,2,3))

print({
    'one' : 1,
    'two' : 2,
    'three' : 3
})


print(5.5)

print(True)

print('Hello world',14,False,6.5,sep='-')

print('Hello',end='-')

print('World')

Hello World !
Hello World !
4
11
[1, 2, 3, 4, 5]
(1, 2, 3)
{'one': 1, 'two': 2, 'three': 3}
5.5
True
Hello world-14-False-6.5
Hello-World

## PYTHON COMMENTS AND ESCAPE SEQUENCES

In [24]:
# COMMENTS
# Comments are used to make the code more understandable for programmer.
# Comments are not executed by Interpreter.
# Comments are ignored by the the python interpreter

# METHODS FOR WRITING COMMENTS

# There are 2 methods to write comment in Python Language -:

# 1- Single Line Comment
# 2- Multi Line Comment

# Single Line Comment

# Single Line comments are the comments which are created in single line only 
# We use '#' (hash/pound to write single line comment).

# Example:

# this is a comment.


# Multi Line Comment :  
# Multi Line comments are the comments 
# which are created by using multiple lines 
#they occupy more than one line in the program.


## We use """ ….. Comment …. """ for writing multi line comment 
# i.e. (tripe quotes for writing multi-line comments).


"""
This is a 
multi line comments
"""

'\nThis is a \nmulti line comments\n'

## ESCAPE SEQUENCES

In [40]:
# An Escape Sequence in Python programming language is a sequence of characters.
# It doesn’t represent itself when used inside string literal or character.
# It is composed of two or more characters starting with backslash \.

# print("next line")
print('Hello\n')

print("I want to become a data scientist")

print("C:\narry")

print("C:\\narry")

print("Ikram is \t good boy ")


#------------------------- Commonly used Escape Sequences -----------------------

#--------------------------------------------------------------------------------
#   Escape      :                  Description                                  
#   Sequence    :                                                               
#--------------------------------------------------------------------------------
#      \n       # Inserts a newline in the text at that point.                  
#      \\       # Inserts a back slash character in the text at that point.     
#      \"       # Inserts a double character in the text a that point.          
#      \'       # Inserts a single quote character in the text at that point.   
#      \t       # Inserts a tab in the text at that point.                      
#      \f       # Inserts a form feed in the text at that point.                
#      \r       # Inserts a carriage return in the text at that point.         
#      \b       # Inserts a backspace in the text at that point.                
#--------------------------------------------------------------------------------

Hello

I want to become a data scientist
C:
arry
C:\narry
Ikram is 	 good boy

## VARIABLES

In [68]:
# Variables are containers or name are used for storing data values or memory location in a program
# Actually, Variable doesn’t hold a value but it’s the name given to any memory address in RAM.

# It’s a name of memory location.

# In simple words we can say that variable is a container
# which contains some kind of information 
# and whenever we need that information 
# then we simply use that container or open it.
# A variable is created the moment you first assign a value to it.

# Rules for Python variables:

# A variable name must start with a letter or the underscore character
# A variable name cannot start with a number
# A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
# Variable names are case-sensitive (age, Age and AGE are three different variables)



var = 'Hello World'

print(var)

x = 5

print(x)

y = [1,2,3,4]

print(y)

_a = 'ikram'

print(_a)

my_name = 'ikram'

print(my_name)

MYNAME = 'IKRAM'

print(MYNAME)

age = 37

print(age)

AGE = 30

print(AGE)

z=30.6

print(z)

print(x,y,z)

# Assign multiple values 

a,b,c = 5,"car",10.6

print(a,b,c)

# Assign a single value to multiple variables

m=n=o=10

print(m,n,o)

# Static Vs Dynamic Typing
# Static Vs Dynamic Binding

# static typing

# int a = 5  this is not used in python

# Dynamic typing

a = 5

# Dynamic Binding
f = 10

print(f)

f = 'ibrahim'

print(f)

Hello World
5
[1, 2, 3, 4]
ikram
ikram
IKRAM
37
30
30.6
5 [1, 2, 3, 4] 30.6
5 car 10.6
10 10 10
10
ibrahim

## DATA TYPES IN PYTHON

In [72]:
# TEXT

# Text mean string written in sigle or double qoutes

x = 'PAKISTAN'

print(x)

PAKISTAN

In [78]:
# INTEGER

# integer represent decimel number without fractional point like (10,5,-2)
# Both positive and negative numbers are included

x = 9

print(x)

print(-15)

# its maximum rage is (1e308)
print(1e308)
print(1e309)  # this will gives infinite

9
-15
1e+308
inf

In [81]:
# FLOAT

# float represent decimel number with fractional point like (10.6,5.3,-2.4 etc)
# Both positive and negative numbers are included

x = 3.2

print(x)

print(-2.4)

# its maximum rage is (1.7e308)
print(1.7e308)
print(1.7e309)

3.2
-2.4
1.7e+308
inf

In [83]:
# BOOLEAN 
# TRUE/FALSE

print(True)

print(False)

True
False

In [85]:
# COMPLEX

print(4+7j)

(4+7j)

In [87]:
# LIST

x = [1,2,3,4]

print(x)

y = ['Inter','Bsc','Msc']

print(y)

[1, 2, 3, 4]
['Inter', 'Bsc', 'Msc']

In [89]:
# TUPLE

x = (1,2,3,4)

print(x)

y = ('inter','Bsc','Msc')

print(y)

(1, 2, 3, 4)
('inter', 'Bsc', 'Msc')

In [90]:
# SET

x = {1,2,3,4}

print(x)

{1, 2, 3, 4}

In [91]:
# DICTIONARY

x = {
    'name' :'Ikram',
    'qual' :'MSC',
    'age' :37
}

print(x)

{'name': 'Ikram', 'qual': 'MSC', 'age': 37}

In [6]:
# NONE
x = None
print(x)

None

## TYPE CASTING / TYPE CONVERSION
` -Type casting use to cnvert the data type `

` -There are two types of type casting `

`Implicit: Convert data type automaticaly by the python interpreter`

`Explicit : Convert data type by the programmer `

In [106]:
x = '20'

print(x)

print(type(x))

x = int(x)
print(type(x))

x = float(x)

print(x)

print(type(x))

# implicit type conversion

a = 6
b = 5.5

c = a + b

print(c)

print(type(c))

# explicit type conversion

x = bool(5)
print(x)

x = [1,2,3,4,5]

print(x)

print(type(x))

x = tuple(x)

print(x)

print(type(x))

20
<class 'str'>
<class 'int'>
20.0
<class 'float'>
11.5
<class 'float'>
True
[1, 2, 3, 4, 5]
<class 'list'>
(1, 2, 3, 4, 5)
<class 'tuple'>

## USER INPUT

`input function is used in python to take input from the user`

In [ ]:
input('Enter your email')

# store the input value into a variable

x = input('Enter the number')

print(x)

print(type(x))


x = int(x)

print(x)

print(type(x))

In [3]:
first_num = int(input(' Enter the first number'))

second_num = int(input(' #
print(type(total))

 Enter the first number12
 Enter the second number13
25
<class 'int'>

## OPERATORS

`Arithmetic`

`Relational / Comparison operators`

`Logical`

`Bitwise`

`Membership`

`Identity`

In [11]:
# Arithmetic Operators

# Plus (+)

print(5 + 6)

# Subtraction (-)

print(5 - 6)

# Multiplication (*)

print(5 * 6)

# Division (/)

print(5 / 2)

# integer division / floor division (//)

print(5 // 2)

# Modulus / Remainder (%)

print(5 % 2)

# Exponentiation (**)

print(5 ** 2)

11
-1
30
2.5
2
1
25

In [13]:
# Relational / Comparison Operators

# Graeter than (>)

print(4>5)

# Less than (<)

print(4<5)

# Geater than equal (>=)

print(4>=5)

# less than equal (>=)

print(4<=5)

# Equal

print(4==4)

# Not Equal

print(4!=4)

False
True
False
True
True
False

In [23]:
# Logical Operators

# and:absReturns True if both statements are true

x = 6

print(x<10 and x<8)

print(1 and 0)

print(1 and 1)

# or :Returns True if one of the statements is true

x = 9

print(x<10 or x<8)

print(1 or 0)

print(0 or 0)

# not :Reverse the result, returns False if the result is true

print(not(0 or 0))

True
0
1
True
1
0
True

In [24]:
# Bitwise Operators

# bitwise and

print(2 & 3)

# bitwise or

print(2 | 3)

# bitwise xor

print(2 ^ 3)

# bitwise not

print(~3)

# right shift
print(4 >> 2)

# left shift

print(5 << 2)

2
3
1
-4
1
20

In [26]:
# Assignment operators

a = 4 #equal is aassignment operator

a += 4

print(a)
a -= 4

print(a)
a *= 4

print(a)
a /= 4

print(a)

a %= 4

print(a)

8
4
16
4.0
0.0

In [29]:
# Membership Operators
# in :Returns True if a sequence with the specified value is present in the object

print('S' in 'Student')

print('D' in 'Student')

# not in :Returns True if a sequence with the specified value is not present in the object

print('S' not in 'Student')

print('D' not in 'Student')

True
False
False
True

In [36]:
# identity operators

# is :Returns True if both variables are the same object

x = [1,2,3]

print(x is [1,2,3])

print (x is not [1,2,3])

False
True