# Dictionary Data Type

`Dictionaries are used to store data values in key:value pairs`

`A dictionary is a collection which is ordered*, changeable and do not allow duplicates`

`Dictionaries are written with curly brackets, and have keys and values`

# Changeable

`Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created`

# Duplicates Not Allowed

`Dictionaries cannot have two items with the same key`

In [11]:
# empty dictionary

dic = {}
dic
type(dic)


d1 = {
    'name ': 'Ikram',
    'age' : 36,
    'city' : 'Gujranwala'
    
}

print(d1)

d2 = {
    'name' : 'Ikram',
    'age' : 36,
    'qual' : 'MIT',
    'subjects' :{
        'comp' :50,
        'math' : 70,
        'phy' :65
    }
}


d3 = {
    (1,2,3) : 1,
    'skill' : 'Machine Learning'
}

# duplicate keys

d4 = {
    'color' : 'red',
    'color' : 'green'
}

d6 = {'name':'ibrahim',(1,2,3):2}
print(d6)

print(d2)
print(d3)
print(d4)
print(d6)

{'name ': 'Ikram', 'age': 36, 'city': 'Gujranwala'}
{'name': 'ibrahim', (1, 2, 3): 2}
{'name': 'Ikram', 'age': 36, 'qual': 'MIT', 'subjects': {'comp': 50, 'math': 70, 'phy': 65}}
{(1, 2, 3): 1, 'skill': 'Machine Learning'}
{'color': 'green'}
{'name': 'ibrahim', (1, 2, 3): 2}

In [15]:
print(d3['skill'])

print(len(d2))

Machine Learning
4

# Accessing items

In [24]:
d1 = {
    'name ': 'Ikram',
    'age' : 36,
    'city' : 'Gujranwala'
    
}

print(d1)    # before change

d1['qual'] = 'MIT'

# after change

print(d1)

d1.get('age')
d1.keys()

{'name ': 'Ikram', 'age': 36, 'city': 'Gujranwala'}
{'name ': 'Ikram', 'age': 36, 'city': 'Gujranwala', 'qual': 'MIT'}

dict_keys(['name ', 'age', 'city', 'qual'])

In [26]:
# Get Values
d1.keys()

d1.values()

dict_values(['Ikram', 36, 'Gujranwala', 'MIT'])

In [27]:
d1 = {
    'name ': 'Ikram',
    'age' : 36,
    'city' : 'Gujranwala'
    
}

print(d1)    # before change

d1['age'] = 37

# after change

print(d1)

{'name ': 'Ikram', 'age': 36, 'city': 'Gujranwala'}
{'name ': 'Ikram', 'age': 37, 'city': 'Gujranwala'}

In [34]:
# The items() method will return each item in a dictionary, as tuples in a list.

d1 = {
    'name ': 'Ikram',
    'age' : 36,
    'city' : 'Gujranwala'
    
}

print(d1)

x = d1.items()
x

{'name ': 'Ikram', 'age': 36, 'city': 'Gujranwala'}

dict_items([('name ', 'Ikram'), ('age', 36), ('city', 'Gujranwala')])

In [38]:
car = {
    'model' : 2020,
    'brand' : 'Toyota',
    'color' : 'white'
}
if 'color' in car:
    print('yes this key avilable in this data')
print(car)

car['color'] = 'silver'

print(car)

yes this key avilable in this data
{'model': 2020, 'brand': 'Toyota', 'color': 'white'}
{'model': 2020, 'brand': 'Toyota', 'color': 'silver'}

In [45]:
# The update() method will update the dictionary with the items from the given argument

car = {
    'model' : 2020,
    'brand' : 'Toyota',
    'color' : 'white'
}

car.update({'price':2000000})
car


car = {
    'model' : 2020,
    'brand' : 'Toyota',
    'color' : 'white'
}

car.update({'brand':'Honda'})
car

{'model': 2020, 'brand': 'Honda', 'color': 'white'}

In [47]:
# Removing Items

car = {
    'model' : 2020,
    'brand' : 'Toyota',
    'color' : 'white'
}

car.pop('color')

car

{'model': 2020, 'brand': 'Toyota'}

In [48]:
car = {
    'model' : 2020,
    'brand' : 'Toyota',
    'color' : 'white'
}

car.popitem()
car

{'model': 2020, 'brand': 'Toyota'}