In [ ]:
# Write a function that takes two numbers as arguments and returns their sum.
# Write a function that takes a list as an argument and returns the sum of all elements in the list.
# Write a function that takes a string as an argument and returns the string reversed.
# Write a function that takes a list of numbers as an argument and returns the average of the numbers.
# Write a function that takes a list of numbers as an argument and returns the median of the numbers.
# Write a function that takes a list of numbers as an argument and returns the maximum and minimum numbers in the list.
# Write a function that takes a list of strings as an argument and returns the longest string in the list.
# Write a function that takes a list of strings as an argument and returns the shortest string in the list.
# Write a function that takes a string as an argument and returns the number of vowels in the string.
# Write a function that takes a string as an argument and returns the number of words in the string.
# Write a function that takes a list of numbers as an argument and returns a new list with only the even numbers.
# Write a function that takes a list of numbers as an argument and returns a new list with only the odd numbers.
# Write a function that takes a list of strings as an argument and returns a new list with only the strings that start with a vowel.
# Write a function that takes a list of strings as an argument and returns a new list with only the strings that are longer than 5 characters.
# Write a function that takes a list of strings as an argument and returns a new list with only the strings that contain the letter 'a'.
# Write a function that takes a list of strings as an argument and returns a new list with the strings reversed.
# Write a function that takes a list of numbers as an argument and returns a new list with the numbers squared.
# Write a function that takes a list of numbers as an argument and returns a new list with the numbers cubed.
# Write a function that takes a list of numbers as an argument and returns a new list with the absolute values of the numbers.
# Write a function that takes a list of strings as an argument and returns a new list with the strings converted to uppercase.
# Write a function that takes a list of strings as an argument and returns a new list with the strings converted to lowercase.
# Write a function that takes a list of numbers as an argument and returns the product of all the numbers.
# Write a function that takes a list of strings as an argument and returns a new list with the strings sorted alphabetically.
# Write a function that takes a list of numbers as an argument and returns a new list with the numbers sorted in descending order.
# Write a function that takes a list of strings as an argument and returns a new list with the strings sorted by length.
# Write a function that takes a list of numbers as an argument and returns the factorial of each number.
# Write a function that takes a list of strings as an argument and returns a new list with the strings joined together.
# Write a function that takes a list of numbers as an argument and returns a new list with the numbers multiplied by 10.
# Write a function that takes a list of numbers as an argument and returns a new list with only the unique numbers.
# Write a function that takes a list of strings as an argument and returns a new list with only the unique strings.
# Write a function that takes a list of numbers as an argument and returns a new list with the numbers in reverse order.
# Write a function that takes a list of strings as an argument and returns a new list with the strings reversed.
# Write a function that takes a list of numbers as an argument and returns a new list with the numbers squared if they are even and cubed if they are odd.
# Write a function that takes a list of strings as an argument and returns a new list with the strings converted to integers.
# Write a function that takes a list of numbers as an argument and returns a new list with only the prime numbers.
# Write a function that takes a list of numbers as an argument and returns a new list with the numbers rounded to the nearest integer.
# Write a function that takes a list of numbers as an argument and returns a new list with the numbers converted to strings.
# Write a function that takes a list of strings as an argument and returns a new list with the strings converted to floats.
# Write a function that takes a list of numbers as an argument and returns a new list with the numbers formatted as currency (e.g., "$1.00").
# Write a function that takes a list of strings as an argument and returns a new list with only the strings that are palindromes.
# Write a function that takes a list of numbers as an argument and returns a new list with the numbers formatted as percentages (e.g., "50%").
# Write a function that takes a list of strings as an argument and returns a new list with the strings formatted as dates (e.g., "2022-01-01").
# Write a function that takes a list of numbers as an argument and returns a new list with the numbers converted to Roman numerals.
# Write a function that takes a list of strings as an argument and returns a new list with the strings converted to title case (e.g., "hello world" -> "Hello World").
# Write a function that takes a list of numbers as an argument and returns a new list with the numbers converted to binary.
# Write a function that takes a list of strings as an argument and returns a new list with only the strings that are valid email addresses.
# Write a function that takes a list of numbers as an argument and returns a new list with only the numbers that are perfect squares.
# Write a function that takes a list of strings as an argument and returns a new list with only the strings that are valid URLs.
# Write a function that takes a list of numbers as an argument and returns a new list with only the numbers that are Fibonacci numbers.
# # Write a function that takes a list of strings as an argument and returns a new list with only the strings that are valid IP addresses.

In [29]:
def even_odd(a):
    if a%2==0:
        return 'Even'
    else:
        return 'Odd'
even_odd(3)

'Odd'

In [34]:

for i in range(1,11):
    x = even_odd(i)
    print(x)

Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even

In [37]:
#1: Write a function that takes two numbers as arguments and returns their sum.

def add_numbers(a,b):
    c = a+b
    return c
add_numbers(5,2)

7

In [48]:
#2:  Write a function that takes a list as an argument and returns the sum of all elements in the list.
count=0
def add_list(a):
    count=0
    for i in a:
        count+=i
    return count
add_list([1,2,3,4])

10

In [56]:
#3:Write a function that takes a string as an argument and returns the string reversed.
def rev(a):
    return a[::-1]

original = 'Gujranwala'
print(original)
print(rev(original))

Gujranwala
alawnarjuG

In [65]:
#4: Write a function that takes a list of numbers as an argument and returns the average of the numbers.

def average_list(x):
    count = 0
    for i in x:
        count+=i
    return (count) / len(x)

    
average_list([1,2,3,4])

2.5

In [ ]:
# 5: Write a function that takes a list of numbers as an argument and returns the median of the numbers.

def list_median(x):
    sorted_values = sorted(x)
    if len(x)%2==0:
        mid = len(sorted_values) //2
        return (sorted_values[mid-1] + sorted_values[mid])
        
        
    

    
    
list_median([1,2,3,4])

In [34]:
#6: Write a function that takes a list of numbers as an argument and returns the maximum and minimum numbers in the list

def max_min(x):
    min_num=max_num=x[0]
    
    for i in x:
        if i > max_num:
            max_num = i
        elif i < min_num:
            min_num = i
    return max_num,min_num
        

    
max_min([5,3,9,2,-1,10])

(10, -1)

In [62]:
#7: Write a function that takes a list of strings as an argument and returns the longest string in the list.

def largest_string(x):
    longest = ''
    for i in x:
        if len(i) > len(longest):
            longest = i
    return longest
    
largest_string(['apple','banana','54326','pnone number','12345567811'])

'pnone number'

In [55]:
#8: Write a function that takes a list of strings as an argument and returns the shortest string in the list.

def shortest_string(x):
    shortest = x[0]
    
    for i in x:
        if len(i) < len(shortest):
            shortest = i
    return shortest
    
shortest_string(['AI','Machine Learning','Generative Ai','Deep Learning'])

'AI'

In [69]:
#9: Write a function that takes a string as an argument and returns the number of vowels in the string

def vowel(x):
    vowvels = 'aeiouAEIOU'
    count = 0
    for char in x:
        if char in vowvels:
            count +=1
            
    return count
vowel('Machine Learning')

6

In [1]:
#10 Write a function that takes a string as an argument and returns the number of words in the string.

def word_count(x):
    
    word = x.split()
    return len(word)
    
word_count('Machine Learning is a great profession')

6

In [48]:
#11: Write a function that takes a list of numbers as an argument and returns a new list with only the even numbers.

def even_num(x):
    even = []
    odd = []
    for i in x:
        if i%2==0:
            even.append(i)
            return even
        else:
            odd.append(i)
    
            return odd
     

    
    
even_num([2,3,4,5,7,8])

[2]

In [50]:
#12 Write a function that takes a list of strings as an argument and returns a new list with only the strings that start with A

def start_with(X):
    st = []
    for i in X:
        if i.startswith('A'):
            st.append(i)
    return st
    
    

start_with(['Apple','Machince','AS','AI'])

['Apple', 'AS', 'AI']

In [51]:
#13 Write a function that takes a list of strings as an argument and returns a new list with only the strings that are longer

def long_str(X):
    long = []
    for i in X:
        if len(i)>5:
            long.append(i)
    return long
    
    
    
long_str(['Apple','Machince','AS','AI'])

['Machince']

In [54]:
def string(X):
   long =  [s for s in X if len(s)>5]
   return long 
string(['Apple','Machince','AS','AI'])

['Machince']

In [57]:
#15:Write a function that takes a list of strings as an argument 
# and returns a new list with only the strings that contain the letter 'a'

def string(X):
  char_a =   [i for i in X if 'a' in i]
  return char_a  
        
string(['Apple','Machince','as','AI'])

['Machince', 'as']

In [67]:
#16: Write a function that takes a list of strings as an argument and returns a new list with the strings reversed.

def reversed_string(X):
   string =[i[::-1] for i in X ]
   return string 
        

reversed_string(['Apple','Machince','as','AI'])

['elppA', 'ecnihcaM', 'sa', 'IA']

In [75]:
# 17:Write a function that takes a list of numbers as an argument and returns a new list with the numbers squared.

def squared(X):
    square = [i*i for i in X]

    return square
squared([2,3])

[4, 9]

In [3]:
# Write a function that takes a list of strings as an argument and returns a new list with the strings converted to uppercase.
def string(X):
   
  upper =   [i.upper() for i in X ]
  return upper  

string(['Apple','Machince','as','AI'])

['APPLE', 'MACHINCE', 'AS', 'AI']

In [4]:
# Write a function that takes a list of strings as an argument and returns a new list with the strings converted to lowercase.

def lower(X):
    
    lower = [i.lower() for i in X]
    return lower

lower(['APPLE', 'MACHINCE', 'AS', 'AI'])

['apple', 'machince', 'as', 'ai']

In [8]:
# Write a function that takes a list of numbers as an argument and returns the product of all the numbers.

def product(X):
    prodct =1
    for i in X:
        prodct*=i
        
    return prodct

product([4,2,3])

24

In [11]:

# Write a function that takes a list of strings as an argument and returns a new list with the strings sorted alphabetically.
def sort_string(X):
    
    
    return sorted(X)
sort_string(['apple', 'machince', 'as', 'ai'])

['ai', 'apple', 'as', 'machince']

In [12]:
# Write a function that takes a list of numbers as an argument and returns a new list with the numbers sorted in descending order.

def sort_des(X):
    
    return sorted(X,reverse=True)

sort_des([4,3,5,6,9,1])

[9, 6, 5, 4, 3, 1]

In [15]:
# Write a function that takes a list of strings as an argument and returns a new list with the strings sorted by length.

def sort_len(X):
    
    return sorted(X,key=len)


sort_len(['APPLE', 'MACHINCE', 'AS', 'AI'])

['AS', 'AI', 'APPLE', 'MACHINCE']

In [ ]:
# Write a function that takes a list of numbers as an argument and returns the factorial of each number.

In [22]:
# Write a function that takes a list of strings as an argument and returns a new list with the strings joined together.

# def join(X):
    
#     join_str = [i+i for i in X]
    
#     return join_str
# join(['AS', 'AI', 'APPLE', 'MACHINCE'])

def join(X):
    st = ''
    for i in X:
        st+=i
    return st
join(['AS', 'AI', 'APPLE', 'MACHINCE'])

'  ASAIAPPLEMACHINCE'

In [23]:
# Write a function that takes a list of numbers as an argument and returns a new list with the numbers multiplied by 10.

def mul_10(X):
    
    mul = [i*10 for i in X]
    
    return mul
mul_10([2,3])

[20, 30]

In [40]:
# Write a function that takes a list of numbers as an argument and returns a new list with only the unique numbers.
num =[]
def unique(X):
    
    for i in X:
        if i not in num:
            num.append(i)
    return num
unique([2,4,3,5,4,7,6,5,5,2])

[2, 4, 3, 5, 7, 6]

In [41]:
#29: Write a function that takes a list of strings as an argument and returns a new list with only the unique strings.

num =[]
def unique(X):
    
    for i in X:
        if i not in num:
            num.append(i)
    return num
unique(['Apple','Banana','Apple','Grapes','Banana'])

['Apple', 'Banana', 'Grapes']

In [15]:
# Write a function that takes a list of numbers as an argument and returns a new list with the numbers in reverse order.

def rev(X):
     
    return X[::-1]

rev([1,2,3,4])

[4, 3, 2, 1]

In [16]:
# Write a function that takes a list of strings as an argument and returns a new list with the strings reversed.
def st_rev(X):
    return X[::-1]
    
st_rev(['Apple','Banana','Apple','Grapes','Banana'])

['Banana', 'Grapes', 'Apple', 'Banana', 'Apple']

In [18]:
# Write a function that takes a list of numbers as an argument and returns a new list with the numbers squared if they are even and cubed if they are odd

def sq_cu(X):
    new =[]
    for i in X:
        if i%2==0:
            new.append(i**2) 
        else:
            new.append(i**3)
    return new
sq_cu([1,2,3,4])

[1, 4, 27, 16]

In [23]:
# Write a function that takes a list of strings as an argument and returns a new list with the strings converted to integers.

def converted(X):
    con =[]
    for i in X:
        con.append(int(i))
    return con       
converted(['2','3'])

[2, 3]

In [32]:
# Write a function that takes a list of numbers as an argument and returns a new list with only the prime numbers.

def prime(X):
    primes=[]
    for i in X:
        if i%2==0:
            primes.append(i)
    return primes
prime([1,2,3,4,5,6])

[2, 4, 6]

In [38]:
# Write a function that takes a list of numbers as an argument and returns a new list with the numbers rounded to the nearest integer.
def near_int(X):
    new=[]
    for i in X:
       new.append(round(i)) 
    return new
near_int([2.2,11.6])   


def rou(X):
    
    new = [round(i) for i in X]
    
    return new

rou([2.2,11.6,9.4])

[2, 12, 9]

In [39]:
# Write a function that takes a list of numbers as an argument and returns a new list with the numbers converted to strings.

def conv_str(X):
    new_str = []
    
    for i in X:
        new_str.append(str(i))
    return new_str

conv_str([2,4,6])

['2', '4', '6']

In [41]:
# Write a function that takes a list of strings as an argument and returns a new list with the strings converted to floats.

def conv_str_float(x):
    
    new =  [float(i) for i in x]
    return new
conv_str_float(['2','4'])

[2.0, 4.0]

In [46]:
# Write a function that takes a list of numbers as an argument and returns a new list with the numbers formatted as currency(e.g., "$1.00").

def format_num(x):
    new = ['${:.2f}' .format(i) for i in x]
    return new

format_num([10,20])

['$10.00', '$20.00']

In [51]:
# Write a function that takes a list of strings as an argument and returns a new list with only the strings that are palindromes.

def plaindrom(x):
    
    new = []
    for i in x:
        if i ==i[::-1]:
            new.append(i)
    return new
plaindrom(["radar", "hello", "level", "world", "noon"])

# another method
def plain(x):
    new = [i for i in x if i==i[::-1] ]
    return new
plain(["radar", "hello", "level", "world", "noon"])

['radar', 'level', 'noon']

In [52]:
#41 Write a function that takes a list of numbers as an argument and returns a new list with the numbers formatted as percentages (e.g., "50%")

def formatted(x):
    
    new = ['{} %'.format(i) for i in x]
    return new
formatted([2,4])

['2 %', '4 %']

In [56]:
def bin_num(x):
    num = [bin(i) for i in x]
    return num

bin_num([4,2])

['0b100', '0b10']