# SET 

`Sets are used to store multiple items in a single variable.`

`A set is an unordered collection of items.` 

`Every set element is unique (no duplicates) and must be immutable (cannot be changed).`

`However, a set itself is mutable. We can add or remove items from it.`

`Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.`

`Characterstics:`
- Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types

`Sets are written with curly brackets`

# Unordered

`Unordered means that the items in a set do not have a defined order.`

`Set items can appear in a different order every time you use them, and cannot be referred to by index or key.`

# Unchangeable

`Set items are unchangeable, meaning that we cannot change the items after the set has been created.`

`Once a set is created, you cannot change its items, but you can remove items and add new items.`

# Duplicates Not Allowed

`Sets cannot have two items with the same value.`

In [22]:
# Creating set

fruits = {"apple", "banana", "cherry"}

print(fruits)

colors = {'red','green','blue','orange'}

colors

type(colors)

# s1 = {1,2,3,{4,5}}

s1 = {1,'hello',4.5,(1,2,3),True}

print(s1)


s2 = set([9,8,7,6])

print(s2)

set1 = set(("apple", "banana", "cherry"))
print(set1)
print(type(set1))

# Homogeneous set

s = {1,2,3,4}

print(s)

# Hetrogeneous set

# s1 = {1,2,2,True,(1,2,3),4.3}

s1 = {1,2,True,(1,2,3),4.3}

print(s1)

# duplicates not allowed

s2 = {1,1,2,2,3,3}

print(s2)

# set can't have mutable items

# s3 = {1,2,[3,4]}

# print(s3)

{'apple', 'cherry', 'banana'}
{1, (1, 2, 3), 'hello', 4.5}
{8, 9, 6, 7}
{'apple', 'cherry', 'banana'}
<class 'set'>
{1, 2, 3, 4}
{1, 2, (1, 2, 3), 4.3}
{1, 2, 3}

# Access Items

`we cannot access items in a set by referring to an index or a key`

In [27]:
s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)

# s1 = {1,2,3,4}
# s1[0:3]


color = {'red', 'blue', 'yellow'}

print('blue' in color)

color = {'red', 'blue', 'yellow'}

print('blue' not in color)

True
True
False

# adding items

`Once a set is created, you cannot change its items, but you can add new items`

In [41]:
# To add one item to a set use the add() method

color = {'red', 'blue', 'yellow'}

color.add('green')
print(color)

color.add('grey')
print(color)

s = {1,2,3}
st = {4,5,6}
s.update(st)
print(s)

s = {1,2,3}
st = (4,5,6)
s.update(st)
print(s)

s = {1,2,3}
st = [4,5,6]
s.update(st)
print(s)


myset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

myset.update(mylist)

print(thisset)

{'green', 'red', 'blue', 'yellow'}
{'green', 'blue', 'grey', 'yellow', 'red'}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{'cherry', 'kiwi', 'apple', 'banana', 'orange'}

# Remove Item

In [48]:
# remove()
# To remove an item in a set, use the remove(), or the discard() method

color = {'red', 'blue', 'yellow'}

color.remove('blue')
print(color)

# discard()

color = {'red', 'blue', 'yellow'}

color.discard('yellow')
print(color)

# pop
# You can also use the pop() method to remove an item
# but this method will remove a random item 
# so you cannot be sure what item that gets removed.

s = {1,2,3,4,5}

s.pop()
print(s)

color = {'red', 'blue', 'yellow'}

color.pop()
print(color)

# del
# The del keyword will delete the set completely

color = {'red', 'blue', 'yellow'}

del color
print(color)

{'red', 'yellow'}
{'red', 'blue'}
{2, 3, 4, 5}
{'blue', 'yellow'}

# Loop Sets

In [50]:
color = {'red', 'blue', 'yellow'}

for i in color:
    print(i)

print(len(color))

red
blue
yellow
3

# Join Sets

In [58]:
# union()
# The union() and update() methods joins all items from both sets.
# The union() method returns a new set with all items from both sets.

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

s = {1,2,3,4,5}
s1 = {9,8,7,2}

s2 = s.union(s1)
print(s2)

# join multiple set
color = {'red', 'blue', 'yellow'}
myset = s.union(s1,color)

print(myset)

# Join a set with a tuple
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{'a', 1, 'c', 2, 3, 'b'}
{1, 2, 3, 4, 5, 7, 8, 9}
{1, 2, 3, 4, 5, 'blue', 7, 8, 9, 'yellow', 'red'}
{1, 'c', 2, 3, 'b', 'a'}

In [60]:
# Intersection
# The intersection() method will return a new set
# that only contains the items that are present in both sets

s ={1,2,3,4,5}
s1 ={2,4,5,6}

new_s = s.intersection(s1)
print(new_s)

{2, 4, 5}

In [66]:
# Difference
# The difference() method will return a new set 
# that will contain only the items 
# from the first set that are not present in the other set.

s = {1,2,3,7,5}
s1 = {9,8,7,2}

s2 = s.difference(s1)
print(s2)

s = {1,2,3,7,5}
s1 = {9,8,7,2}

s2 = s1.difference(s)
print(s2)

{1, 3, 5}
{8, 9}

In [68]:
# Symmetric Differences
# The symmetric_difference() method will keep only the elements 
# that are NOT present in both sets.

s = {1,2,3,7,5}
s1 = {9,8,7,2}

s2 = s.symmetric_difference(s1)
print(s2)

{1, 3, 5, 8, 9}

In [69]:
# len/sum/min/max/sorted
s = {3,1,4,5,2,7}
len(s)
sum(s)
min(s)
max(s)
sorted(s,reverse=True)

[7, 5, 4, 3, 2, 1]