# STRINGS

`String mean text data`

`Strings are sequence of Characters`

`Strings in python are surrounded by either single quotation marks, or double quotation marks`

`Python strings are immutable`

# Creating string

In [ ]:
s = 'ikram'
print(s)

s1 = "Gujranwala"
print(s1)

s2 = "34"
print(s2)

s3 = """Age=37"""   #use for multiline string
print(s3)

# s4 = str(ikram)
# print(s4)

type(s)

# Slicing

`we can return a range of characters by using the slice syntax`

In [ ]:
s = 'Hello world!'

# Slice From the Start

print(s[:])
print(s[4])
print(s[2:])
print(s[2:7])
print(s[:7])

In [ ]:
# Negative indexing
s = 'Hello world!'
print(s[-5:-2])

print(s[6:0:-2])

print(s[-1:-6:-1])

In [ ]:
# Python strings are immutable

s = 'hello world'
s[0] = 'H'

In [ ]:
s = 'hello world'

del s
print(s)

In [ ]:
s = 'Hello world!'
del s[-1:-5:2]
print(s)

# Operations on Strings

In [ ]:
# Arithmetic Operations

name = 'Ikram'

age = '37'

print(name + ' ' + age)

print('Gujranwala'*3)

print("*"*10)

'lahore' != 'lahore'

'lahore' > 'gujranwala'

In [ ]:
print('lahore' == 'lahore')
print('Lahore' == 'lahore')

print('hello' and 'world')
print('hello' or 'world')
print(not 'hello')

# LOOP

In [ ]:
for i in 'hello':
  print(i)

for i in 'gujranwala':
  print('lahore')

In [ ]:
st = 'i want to become an Ai Engineer'

if 'Engineer' in st:
    print('INSHAALLAH')
    
st = 'i want to become an Ai Engineer'

if 'Engineer' not in st:
    print('INSHAALLAH')
else:
    print('Try hard')

# Modify Strings

In [ ]:
# upper()

a = "Hello World!"
print(a.upper())

a = 'Ikram Hashmi'

print(a.upper())

# lower()

b = 'Ikram Hashmi'

print(b.lower())

# Remove Whitespace
# strip()  method removes any whitespace from the beginning or the end

a = " Hello World! "
print(a.strip()) 

b = '  Machine Learning    '
print('Length before removing spaces is :',len(b))
c = b.strip()
print(c)
print('Length after removing spaces is :',len(c))

In [ ]:
# The replace() method replaces a string with another string

b = 'Machine Learning'
c = b.replace('M','m')
print(c)

In [ ]:
# The split() method returns a list where the text between the specified separator becomes the list items

b = 'Machine-Learning-popular-skill'

c = b.split('-')
print(c)


b = 'Machine Learning popular skill'

c = b.split(' ')
print(c)

# String Format

In [ ]:
age =36
name = 'ikram'
txt =f'My name is {name} and i am {age}'
print(txt)
txt = f'i am {age}'
print(txt)

In [ ]:
skill = 'Data Scientist'
skill2 = 'Machine Learning'
sk = f'i want to become a {skill} and i have a skill of {skill2}'
print(sk)


name = 'ikram'
gender = 'male'

'Hi my name is {1} and I am a {0}'.format(gender,name)

In [ ]:
# # Find the length of a given string without using the len() function


s = input('Enter the data')
print(s)
count=0
for i in s:
    i+=count
print(i)